{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    
  </div>

<div class="row">
    <div class="col-sm-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          
          <h5 class="card-title text-center">Disciplinas Cadastradas <img src="{% static 'img/book2.png' %}" width="40" height="45"></h5>
          <h4 class="card-text text-center">{{ disc }}</h4>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-white bg-danger mb-3">
        <div class="card-body">
          <h5 class="card-title text-center">Professores Cadastrados <img src="{% static 'img/teacher2.png' %}" width="40" height="45"></h5>
          <h4 class="card-text text-center">{{ prof }}</h4>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-warning mb-3">
          <div class="card-body">
            <h5 class="card-title text-center">Salas Cadastradas <img src="{% static 'img/living.png' %}" width="40" height="45"></h5>
            <h4 class="card-text text-center">{{ salas }}</h4>
            
          </div>
        </div>
      </div>
  </div>

{% endblock %}